<div class="background-section">
    <div class="content">
        <div class="profile-picture">
            <img src="assets/img/2.png" alt="Description of the image">
        </div>
        <div class="info">
            <p>
                I hold a Bachelor's degree in Computer Science & Information Technology, graduating in 2021 with a GPA of 4.17.
                My skills include Full Stack Developer, leadership, and problem-solving. I'm fluent in Arabic and English.
                With a passion for innovation and a commitment to improvement, I aim to contribute my skills to the tech industry.
                My graduation project focused on "Privacy & Trust on Blockchain in Education."
            </p>
            <h2>My Projects</h2>
            <ul>
                <li>
                    <strong>Graduation Project</strong>:
                    <br>
                    <em>Thesis About: Privacy & Trust on Blockchain and its Application in Education</em>
                </li>
                <li>
                    <strong>Ironhack Project</strong>:
                    <br>
                    <em>Vai GamesLibrary backend Java SpringBoot</em>
                </li>
            </ul>
            <button 
            mat-button color="primary" routerLink="/contact" routerLinkActive="active-link">Contact</button>
        </div>
    </div>
</div>
